<section class="section--headliner">
	<div class="row">
		<div class="large-8 large-centered columns text-center">
			<h1>Add People</h1>
			<h5>
				This will allow them access to the live stream and send 
				them calendar reminders. Notifications will be sent after 
				the Event is completed.
			</h5>
		</div>
	</div>
</section>

<div class="row">
	<div class="large-12 columns">
	<h3>
		Add A Class
		<span data-tooltip 
		  class="has-tip tip-top" 
		  title="Select one or more classes that will be attending the 
		  Event or viewing the live stream.">
		  <i class="icon-info">
		  	<span class="screen-reader">Tool Tip</span>
		  </i>
		</span>
	</h3>
	</div>
	<div class="medium-3 columns c-event-select-object">
		<div class="panel">
			<h4>Grade 11</h4>
			<p>St.Pauls, Science</p>
			<a href="#" class="event-choose-link">Choose</a>
			<i class="icon-checkmark"></i>
		</div>
	</div>
	<div class="medium-3 columns c-event-select-object">
		<div class="panel">
			<h4>Grade 12</h4>
			<p>St.Pauls, Science</p>
			<a href="#" class="event-choose-link">Choose</a>
			<i class="icon-checkmark"></i>
		</div>
	</div>
	<div class="medium-3 columns c-event-select-object">
		<div class="panel">
			<h4>Grade 10</h4>
			<p>St.Pauls, Science</p>
			<a href="#" class="event-choose-link">Choose</a>
			<i class="icon-checkmark"></i>
		</div>
	</div>
	<div class="medium-3 columns c-event-select-object">
		<div class="panel">
			<h4>Grade 10</h4>
			<p>St.Pauls, Science</p>
			<a href="#" class="event-choose-link">Choose</a>
			<i class="icon-checkmark"></i>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h3>
			Add Individuals
			<span data-tooltip 
				  class="has-tip tip-top" 
				  title="Enter the emails of individuals also attending 
				  the Event. They will be sent a notification, and a 
				  reminder closer to the event date.">
				  <i class="icon-info">
				  	<span class="screen-reader">Tool Tip</span>
				  </i>
			</span>
		</h3>
		<div class="row">
			<div class="large-12 columns">
				<form class="f-get-individuals"
					  method="post">
					<input type="email"
						   name="individualName"
						   placeholder="Add the persons email"
						   required>
					<input type="submit"
						   class="button"
						   value="Add a person">
				</form>
			</div>
		</div>
		<div class="people-added">
			<h4>You&rsquo;ve added</h4>
			<div class="row">
				<div class="large-12 columns">
					<ul class="inline-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>