<section class="section--headliner">
	<div class="row">
		<div class="large-8 large-centered columns text-center">
			<h2>Done</h2>
			<h5>
				Congratulations, your Event is ready. Invitations will be 
				sent after you click Finish! You can return and edit 
				your event at any time. 
			</h5>
		</div>
	</div>
</section>

<!-- <div class="row">
	<div class="large-10 large-centered columns">
		<div class="row panel">
			<div class="medium-4 columns">
				<h3>What</h3>
				<p>OS Boat Trip</p>
			</div>
			<div class="medium-4 columns">
				<h3>Who</h3>
				<ul>
					<li>Science Grad 11</li>
					<li>captain@email.com</li>
					<li>another.guy@email.com</li>
				</ul>
			</div>
			<div class="medium-4 columns">
				<h3>When &amp; Where</h3>
				<p>September 13th, 2014</p>
				<p>Bonne Bay, NL</p>
			</div>
		</div>
	</div>
</div> -->