<div class="row c-create-progress">
	<div class="large-8 columns large-centered">
		<div class="row">
			<div class="medium-4 columns hide-for-small-only">
				<a href="#" class="c--prev button small">Previous</a>
			</div>
			<div class="medium-4 columns c--indicator">
				<div class="row">
					<div class="small-3 columns c--progress-item c--done">
						1
					</div>
					<div class="small-3 columns c--progress-item c--todo">
						2
					</div>
					<div class="small-3 columns c--progress-item c--todo">
						3
					</div>
					<div class="small-3 columns c--progress-item c--todo">
						4
					</div>
				</div>
			</div>
			<div class="medium-4 columns hide-for-small-only">
				<a href="#" class="c--next button small">Next</a>
			</div>
			<div class="small-12 cloumns show-for-small-only">
				<a href="#" class="c--prev button small">Previous</a>
				<a href="#" class="c--next button small">Next</a>
			</div>
		</div>
	</div>
</div>