<section class="section--headliner">
	<div class="row">
		<div class="medium-10 large-centered columns text-center">
			<h1>Ustream Setup</h1>
			<h5>
				Select a Ustream Channel that will broadcast your live 
				Event to students in the classroom.
			</h5>
		</div>
	</div>
</section>

<div class="row">
	<div class="medium-10 small-centered columns">
		<h3>
			Change your Ustream embed code
			<span data-tooltip 
			  class="has-tip tip-top" 
			  title="Enter the Ustream embed code. 
			  If you have problems finding the embed code, 
			  please contact your a system admin">
			  <i class="icon-info"></i>
			</span>
		</h3>
		<form class="f-change-ustream-embed"
			  method="post">
			<input type="text"
					name="ustreamSetup"
					placeholder="Add your Ustream embed code here"
					required>
			<input type="submit"
					class="button"
					value="Update Ustream">
		</form>
		<div class="flex-video create-update-ustream">
	        <iframe width="420"
	        	    height="315"
	        	    src="//www.ustream.tv/embed/9600798?v=3&amp;wmode=direct"
	        	    frameborder="0"
	        	    allowfullscreen></iframe>
		</div>
	</div>
</div>