<div class="row c-create-progress">
	<div class="large-8 columns large-centered">
		<div class="row">
			<div class="small-4 columns">
				<a href="#" class="c--prev button">Previous</a>
			</div>
			<div class="small-4 columns">
				<ol class="c--indicator">
					<li class="c--done">1</li><!--
					--><li class="c--todo">2</li><!--
					--><li class="c--todo">3</li><!--
					--><li class="c--todo">4</li><!-- -->
				</ol>
			</div>
			<div class="small-4 columns">
				<a href="#" class="c--next button">Next</a>
			</div>
		</div>
	</div>
</div>