<div class="row live-video-subheader">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-6 columns">
				<p class="live-event-details">
					OS 11, Newman Sounds, Invasive Species, Jun 10. 2014 
				</p>
			</div>
			<div class="large-6 columns">
				<ul class="live-event-activities inline-list right">
					<li><a href="#"
						   class="live-event-end" 
						   data-reveal-id="event-complete-modal">
						   Complete Liveshow
						</a>
					</li>
					<li><a href="#">Prepare</a></li>
					<li><a href="#">Live</a></li>
					<li><a href="#">Reflect</a></li>
				</ul>
			</div>
		</div>	
	</div>
</div>