<div class="row live-post-comment">
<div class="c--close">
	<i class="icon-cross">
		<span class="screen-reader">Remove this comment</span>
	</i>
</div>
	<div class="medium-2 columns live-comment-profile">
		<div class="live-comment-time">11:23am</div>
		<div class="live-comment-avatar">
			<img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=150">
		</div>
		<div class="live-comment-name">Reporter</div>
	</div>
	<div class="medium-9 large-offset-1 columns">
		<div class="live-comment-content">
			<h5 class="live-comment-action">Reporter said:</h5>
			<p class="live-comment-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla 
				vestibulum blandit turpis. Aenean porta vestibulum neque, quis 
				feugiat erat gravida sed. Phasellus auctor, nibh quis ultrices 
				sagittis, massa nibh venenatis lorem, sit amet ultrices ligula 
				orci eget ipsum. Etiam et posuere risus. Morbi pulvinar 
				tincidunt hendrerit. Sed mattis tempus purus a placerat. 
				In convallis interdum tellus ut pellentesque.
			</p>
		</div>
	</div>
</div>