<div class="row live-video-subheader">
	<div class="large-12 columns">
		<div class="row">
			<div class="medium-6 columns">
				<p class="live-event-details">
					This event is <span class="event-is-live">live</span>
				</p>
			</div>
			<!-- <div class="medium-6 columns live-event-controls">
				<div class="row">
					<div class="small-3 columns">
						<a href="#"
						   class="live-event-end button-sm" 
						   data-reveal-id="event-complete-modal">
						   End Event
						</a>
					</div>
					<div class="small-3 columns">
						<a href="/prepare/" class="button-sm">Prepare</a>
					</div>
					<div class="small-3 columns">
						<a href="/live/" class="button-sm">Live</a>
					</div>
					<div class="small-3 columns end">
						<a href="/reflect/" class="button-sm">Reflect</a>
					</div>
				</div>
			</div> -->
		</div>	
	</div>
</div>