<header class="c-sub-header">
	<div class="row">
	  <div class="large-8 small-centered columns">
	  		<div class="row">
			  <div class="small-4 columns">
			  	<a href="#" class="c--prev button">Previous</a>
			  </div>
			  <div class="small-4 columns">
			  	<ol class="c--indicator">
					   <li class="indicator-done">1</li><!--
					--><li class="indicator-todo">2</li><!--
					--><li class="indicator-todo">3</li><!--
					--><li class="indicator-todo">4</li><!-- -->
				</ol>
			  </div>
			  <div class="small-4 columns">
			  	<a href="#" class="c--next button">Next</a>
			  </div>
			</div>
	  </div>
	 </div>
 </header>