@font-face {
    font-family: 'icomoon';
    src:url('/static/fonts/icomoon.eot');
    src:url('/static/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/icomoon.woff') format('woff'),
        url('/static/fonts/icomoon.ttf') format('truetype'),
        url('/static/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Actual icons */

.icon-cross:before {
    content: "\e600";
    color: $border-color;
    font-size: 1.3rem;
}
.icon-info:before {
    content: "\e602";
    color: #dc9a2c;
    font-size: 1.2rem;
    margin-left: 0.4rem;
}
.icon-help:before {
    content: "\e604";
}

.icon-warning:before {
    content: "\e605";
}

.icon-checkmark:before {
    content: "\e606";
}

/* Make sure we have some kind of fall back usability here */

.screen-reader {
    position: absolute; 
    top: -9999px; 
    left:-9999px; 
}