.c-sub-header {
	padding: 0.5em 0;
	background-color: #e8eaee;

	.columns {
		text-align: center;
	}

	a.button {
		min-width: 110px;
		margin-bottom: 0;
		padding: 0.5em;
		background-color: #e8eaee;
		color: #000;
	}

	a.button:active {
		background-color: #c7ccd5;
	}
}

.c-sub-header .c--indicator {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		@include box-sizing(border-box);
		display: inline-block;
    	text-align: center;
    	width: 25%;
	}

	.indicator-done {
    	color: #dc9a2c;
    	border-bottom: 4px solid #dc9a2c;
	}
	.indicator-todo {
    	color: #f1d7ab; 
    	border-bottom: 4px solid #f1d7ab;
	}
}


