---
layout: default
title: OLP portal
bodyclass: live-event
permalink: /live/
---

<section class="c-sub-header">
	{% include live-stream-subhead.html %}
</section>

<div id="event-complete-modal" class="reveal-modal small" data-reveal>
  <h4>Are you sure you want to end the live event?</h4>
  <p>This means everything will literally stop right now.</p>
  <p><a href="#" class="live-complete-true">Yes, end the live event</a></p>
  <a class="close-reveal-modal">
  	<i class="icon-cross">
		<span class="screen-reader">Close Modal</span>
	</i>
  </a>
</div>

<div class="live-video">
	<div class="row">
		<div class="large-12 columns">
			<div class="flex-video">
		        <iframe width="420"
		        	    height="315"
		        	    src="//www.ustream.tv/embed/18503887?wmode=direct"
		        	    frameborder="0"
		        	    allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<div class="live-event-completed">
	<div class="row">
		<div class="large-12 columns">
			<div data-alert class="alert-box">
				<i class="icon-warning">
					<span class="screen-reader">Live Event Over</span>
				</i>
				This live event is has been completed. 
			</div>
		</div>
	</div>
</div>

<div class="live-feed">
	<div class="row live-comment-box">
		<div class="large-12 columns">
				<form class="f-post-live-comment"
				  method="post">
						<input type="text"
						  	   name="liveComment"
						       placeholder="Post a comment for everyone to see"
						       required>
					<input type="submit"
						   class="button expand"
						   value="Post">
				</form>
		</div>
	</div>

	<div class="live-comments-stream">
		{% include live-stream-comments.html %}
		{% include live-stream-comments.html %}
	</div>
</div>


