---
layout: default
title: OLP portal
bodyclass: live-event
permalink: /live/
---

<section class="c-sub-header">
	{% include live-stream-subhead.html %}
</section>

<div id="event-complete-modal" class="reveal-modal small" data-reveal>
	<h4>Do you really want to end the event?</h4>
	<p><a href="#" class="live-complete-true">Yes, end the live event</a></p>
	<a class="close-reveal-modal"><i class="icon-cross"></i></a>
</div>

<div class="live-video">
	<div class="row">
		<div class="medium-12 columns">
			<div class="flex-video">
		        <iframe width="420"
		        	    height="315"
		        	    src="//www.ustream.tv/embed/9600798?v=3&amp;wmode=direct"
		        	    frameborder="0"
		        	    allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<div class="live-event-completed">
	<div class="row">
		<div class="medium-12 columns">
			<div data-alert class="alert-box">
				<i class="icon-warning"></i>
				This live event is has been completed. 
			</div>
		</div>
	</div>
</div>

<div class="live-feed">
	<div class="row ">
		<div class="medium-12 columns">
			<div class="live-comments-stream">
				{% include disqus.html %}
			</div>
		</div>
	</div>
</div>


