---
layout: default
title: OLP portal
bodyclass: live-event
permalink: /live/
---

<section class="c-sub-header">
	{% include live-stream-subhead.html %}
</section>

<div id="event-complete-modal" class="reveal-modal small" data-reveal>
  <h4>Do you really want to end this event?</h4>
  <p>
	  This means everything will literally stop right now.<br>
	  <a href="#" class="live-complete-true">Yes, end the live event</a>
  </p>
  <a class="close-reveal-modal"><i class="icon-cross"></i></a>
</div>

<div class="live-video">
	<div class="row">
		<div class="medium-12 columns">
			<div class="flex-video">
		        <iframe width="420"
		        	    height="315"
		        	    src="//www.ustream.tv/embed/18503887?wmode=direct"
		        	    frameborder="0"
		        	    allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>

<div class="live-event-completed">
	<div class="row">
		<div class="medium-12 columns">
			<div data-alert class="alert-box">
				<i class="icon-warning">
					<span class="screen-reader">Live Event Over</span>
				</i>
				This live event is has been completed. 
			</div>
		</div>
	</div>
</div>
<!-- 
<div class="live-comment-box">
	<div class="row">
		<div class="medium-12 columns">
			<div class="row f-post-live-comment">
					<div class="medium-10 columns">
						<input type="text"
							   name="liveComment"
							   class="live-comment-input"
							   placeholder="Post a comment for everyone to see">
					</div>
					<div class="medium-2 columns">
						<a href='#'
						   class="button expand">Post</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> -->

<div class="live-feed">
	<div class="row ">
		<div class="medium-12 columns">
			<div class="live-comments-stream">
				{% include disqus.html %}
			</div>
		</div>
	</div>
</div>


