.c-create-progress {
	.columns {
		text-align: center;
	}
}

.c--indicator {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		@include box-sizing(border-box);
		display: inline-block;
    	text-align: center;
    	width: 25%;
	}

	.c--done {
    	color: #dc9a2c;
    	border-bottom: 4px solid #dc9a2c;
	}
	.c--todo {
    	color: #f1d7ab; 
    	border-bottom: 4px solid #f1d7ab;
	}
}

// Next / Previous Buttons
.c--next, 
.c--prev {
	margin-bottom: 0;
}


.c--next {
	color: #000000;
}

.c--prev {
	color: #c7ccd5;
}

.create-slide {

	&.-hide {
		display: none;
	}

	&.-show {
		display: block;
	}
}