// live section subheader styles
.live-video-subheader {

	.live-event-details {
		margin-bottom: 0;
		color: #ffffff;		
	}

	.event-is-live {
		@include border-radius(2px);
		border: 1px solid #008cba;
		padding: 0 0.5rem;
		background: #415173;
	}
}

// ==========================================================================
// Live Event Controls
// ==========================================================================

.live-event-controls {

	.columns {
		padding: 0;
		border: 1px solid #0d1c39;
	}

	.inline-list {
		float: right;
		margin-bottom: 0;
	}

	.inline-list li {
		margin-left: 0.6rem;
	}

	.button-sm {
		margin-bottom: 0;
		width: 100%;
	}
}

.live-event-end {
	display: none !important;

	// Make it show up on /live/
	.live-event & {
		display: block !important;
		background: #dc9a2c;
	}
}

.live-event-completed {
	background: #e8eaee;

	.columns {
		padding: 0;
	}

	.alert-box {		
		margin-bottom: 0;
	}
}

// ==========================================================================
// Video Box
// ==========================================================================

// the background to the video feed
.live-video {
	background: #000000;
}


// ==========================================================================
// Comment Input
// ==========================================================================

// Comment box 
.live-comment-box {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background: #c7ccd5;
}


.f-post-live-comment {
	.live-comment-input {
		@include box-shadow(0);
		margin-bottom: 0;
		padding-top: 1.8rem;
		padding-bottom: 1.8rem;
		border: 0;
	}

	.button {
		margin-bottom: 0;
	}
}

// ==========================================================================
// Comments when Displayed
// ==========================================================================

// Live comments area
.live-feed {
	padding: 0.7rem 0;
	background: #e8eaee;
}

.live-post-comment {
	position: relative;
	padding: 2rem;
	margin-bottom: 0.3rem;
	background: #ffffff;
	border: 1px solid $border-color;

	.c--close {		
		position: absolute; 
		top: 0;
		right: 0;
		height: 44px;
		width: 44px;
		text-align: center;
		
		& i {
			position: absolute;
			top: 12px;
			left: 12px;
		}
	}
}

// Time and Title
.live-comment-profile {
	text-align: center;

	.live-comment-time {
		font-size: 1.4rem;
	}
}

// User avatar
.live-comment-avatar {	
	margin: 1rem 0;

	img {
		@include border-radius(75px);
		border: 1px solid $border-color;
	}
}

// Teacher said, reporter said, someone said
.live-comment-action {
	color: #c7ccd5;
}
