<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="{{ page.bodyclass }}">

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ site.baseurl }}/bower_components/foundation/js/foundation.min.js"></script>    
    <script src="{{ site.baseurl }}/js/app.js"></script>

  </body>
</html>