<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="{{ page.bodyclass }}">

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>    
    <script src="/js/app.js"></script>

    <!-- User Testing JS. to be removed -->
    <script type="text/javascript">
    var loop11_key = "8fd57bd8e16adc4bde8dcd4267c3f8768348c11f";
    document.write(unescape("%3cscript src='//cdn.loop11.com/my/loop11.js' type='text/javascript'%3e%3c/script%3e"));
    </script>
  </body>
</html>